In [1]:
from sqlite3 import connect
import numpy as np
import pandas as pd
import os

In [2]:
os.getcwd()

'/home/felipe/Desktop/P2/notebooks'

In [3]:
conditions_path = '../data/raw/synthea/scenario1/conditions.csv'
encounters_path = '../data/raw/synthea/scenario1/encounters.csv'
patients_path = '../data/raw/synthea/scenario1/patients.csv'
procedures_path = '../data/raw/synthea/scenario1/procedures.csv'

In [4]:
conn = connect(':memory:')

In [5]:
conds_df = pd.read_csv(conditions_path)
conds_df.to_sql('conditions', conn, if_exists='replace')
conds_df.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2021-12-26,2022-01-07,c40c2c75-13c9-8e4a-047f-573ae1330157,862287d1-a2eb-8116-de42-e76de6163260,195662009,Acute viral pharyngitis (disorder)
1,1999-05-12,NaN,39e76039-522c-61f1-d961-e03dce5f0bb2,00681d7e-e9bb-392b-6ccb-209cf46e2ec3,128613002,Seizure disorder
2,1999-05-12,NaN,39e76039-522c-61f1-d961-e03dce5f0bb2,00681d7e-e9bb-392b-6ccb-209cf46e2ec3,703151001,History of single seizure (situation)
3,2003-03-04,2003-03-17,39e76039-522c-61f1-d961-e03dce5f0bb2,7ac71954-b14b-f259-f032-bc07d5f4eaa6,43878008,Streptococcal sore throat (disorder)
4,2003-07-17,NaN,39e76039-522c-61f1-d961-e03dce5f0bb2,705cabcc-6c94-1804-ee22-0e0b944ed62f,262574004,Bullet wound

In [6]:
encouters_df = pd.read_csv(encounters_path)
encouters_df.to_sql('encounters', conn, if_exists='replace')
encouters_df.head()

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,38058d5e-b387-3bf4-7e8e-652963121539,2021-08-11T21:01:16Z,2021-08-11T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,5b73b984-a934-3cb2-b181-be8a4e7d6c49,74ae6031-4392-398b-b2ba-5661afd90b7d,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,410620009,Well child visit (procedure),136.8,347.38,0.0,NaN,NaN
1,7ce90b77-dcf4-7ef7-6f2e-222b8f8e53af,2021-09-15T21:01:16Z,2021-09-15T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,5b73b984-a934-3cb2-b181-be8a4e7d6c49,74ae6031-4392-398b-b2ba-5661afd90b7d,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,410620009,Well child visit (procedure),136.8,272.80,0.0,NaN,NaN
2,3e712884-0b4b-a72a-691b-d81127ed15f7,2021-11-17T21:01:16Z,2021-11-17T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,5b73b984-a934-3cb2-b181-be8a4e7d6c49,74ae6031-4392-398b-b2ba-5661afd90b7d,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,410620009,Well child visit (procedure),136.8,1400.05,0.0,NaN,NaN
3,ea214644-3c0a-a8fc-27de-ce4d61fb6707,2022-01-19T21:01:16Z,2022-01-19T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,5b73b984-a934-3cb2-b181-be8a4e7d6c49,74ae6031-4392-398b-b2ba-5661afd90b7d,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,410620009,Well child visit (procedure),136.8,1213.88,0.0,NaN,NaN
4,fc30a3b9-b200-6424-206b-9a6bca68c575,2022-04-20T21:01:16Z,2022-04-20T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,5b73b984-a934-3cb2-b181-be8a4e7d6c49,74ae6031-4392-398b-b2ba-5661afd90b7d,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,wellness,410620009,Well child visit (procedure),136.8,816.80,0.0,NaN,NaN

In [7]:
procedures_df = pd.read_csv(procedures_path)
procedures_df['DEPRESSION_SCREENING'] = procedures_df['DESCRIPTION'].apply(lambda x: 'depression' in x.lower())
procedures_df.to_sql('procedures', conn, if_exists='replace')
procedures_df.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION,DEPRESSION_SCREENING
0,2021-11-17T21:01:16Z,2021-11-17T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,3e712884-0b4b-a72a-691b-d81127ed15f7,430193006,Medication Reconciliation (procedure),583.25,NaN,NaN,False
1,2022-01-19T21:01:16Z,2022-01-19T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,ea214644-3c0a-a8fc-27de-ce4d61fb6707,430193006,Medication Reconciliation (procedure),397.08,NaN,NaN,False
2,2020-08-11T12:00:22Z,2020-08-11T12:15:22Z,c40c2c75-13c9-8e4a-047f-573ae1330157,1bc9dafd-1e4f-5cd9-986e-cdb8f2ea1e03,430193006,Medication Reconciliation (procedure),803.69,NaN,NaN,False
3,2020-11-10T12:00:22Z,2020-11-10T12:15:22Z,c40c2c75-13c9-8e4a-047f-573ae1330157,79f31761-2a1b-e35f-1233-12fb289bb056,430193006,Medication Reconciliation (procedure),387.76,NaN,NaN,False
4,2021-08-10T12:00:22Z,2021-08-10T12:15:22Z,c40c2c75-13c9-8e4a-047f-573ae1330157,01812b1c-1d69-c2ec-9b01-dd1da8be409a,430193006,Medication Reconciliation (procedure),589.38,NaN,NaN,False

In [8]:
procedures_df[['CODE','DESCRIPTION']][procedures_df['DESCRIPTION'].apply(lambda x: 'depression' in x.lower())].value_counts()

CODE             DESCRIPTION
171207006        Depression screening (procedure)                                                       7534
454711000124102  Depression screening using Patient Health Questionnaire Two-Item score (procedure)     6745
715252007        Depression screening using Patient Health Questionnaire Nine Item score (procedure)    1226
171207006        Depression screening                                                                    424
dtype: int64

In [9]:
(procedures_df['CODE'] == 171207006).sum()

7958

In [10]:
procedures_df['DEPRESSION_SCREENING'].value_counts()

False    92277
True     15929
Name: DEPRESSION_SCREENING, dtype: int64

In [11]:
procedures_df[procedures_df['DEPRESSION_SCREENING']]['PATIENT'].unique().size

981

In [12]:
patients_df = pd.read_csv(patients_path)
patients_df.to_sql('patients', conn, if_exists='replace')
patients_df.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,7b3c738d-3f86-58e3-450e-4018521d192f,2021-08-11,NaN,999-71-7790,NaN,NaN,NaN,Svetlana462,O'Hara248,NaN,...,Boston Massachusetts US,971 Ullrich Grove Suite 53,Boston,Massachusetts,Suffolk County,2135.0,42.304260,-71.045262,22950.9100,0.0000
1,c40c2c75-13c9-8e4a-047f-573ae1330157,2020-03-03,NaN,999-49-5505,NaN,NaN,NaN,Rosalyn434,Christiansen251,NaN,...,Lawrence Massachusetts US,485 Senger Route Apt 34,Waltham,Massachusetts,Middlesex County,2451.0,42.340439,-71.206815,54769.7275,2624.1225
2,39e76039-522c-61f1-d961-e03dce5f0bb2,1998-11-21,2003-07-17,999-36-5991,NaN,NaN,NaN,Lashawnda573,Daniel959,NaN,...,North Reading Massachusetts US,944 Witting Passage,Everett,Massachusetts,Middlesex County,2149.0,42.412900,-71.009282,139148.2750,932.7450
3,ff981e00-4004-44b4-48ba-0bfa62440bb3,2009-07-29,NaN,999-39-5303,NaN,NaN,NaN,Ulysses632,Rice937,NaN,...,Scituate Massachusetts US,414 Rempel Harbor,Cohasset,Massachusetts,Norfolk County,NaN,42.214770,-70.814553,339359.4700,90.6000
4,648dbf91-4334-a7e2-2cfe-72e88dbd4c15,2000-12-04,NaN,999-77-8366,S99996514,X32384432X,Mr.,Tory770,Harvey63,NaN,...,Boston Massachusetts US,368 Pouros Ramp Apt 46,Haverhill,Massachusetts,Essex County,1832.0,42.779225,-71.055842,543267.4075,2173.6425

In [13]:
patient_cond_df = pd.read_sql(
    '''
    SELECT p.Id, p.birthdate, p.deathdate, c.description, c.code
    FROM patients p
    JOIN conditions c on p.Id = c.patient;
    ''',
    conn
)
patient_cond_df.to_sql('patientCondition', conn, if_exists='replace')
patient_cond_df.head()

,Id,BIRTHDATE,DEATHDATE,DESCRIPTION,CODE
0,c40c2c75-13c9-8e4a-047f-573ae1330157,2020-03-03,None,Acute viral pharyngitis (disorder),195662009
1,39e76039-522c-61f1-d961-e03dce5f0bb2,1998-11-21,2003-07-17,Streptococcal sore throat (disorder),43878008
2,39e76039-522c-61f1-d961-e03dce5f0bb2,1998-11-21,2003-07-17,Seizure disorder,128613002
3,39e76039-522c-61f1-d961-e03dce5f0bb2,1998-11-21,2003-07-17,Bullet wound,262574004
4,39e76039-522c-61f1-d961-e03dce5f0bb2,1998-11-21,2003-07-17,History of single seizure (situation),703151001

In [14]:
print(
    'patients', patients_df.shape,
    'conditions', conds_df.shape,
    'encounters', encouters_df.shape,
    'procedures', procedures_df.shape,
)

patients (1174, 25) conditions (36396, 6) encounters (59481, 15) procedures (108206, 10)

In [15]:
(
    np.unique(patients_df['Id']).size,
    np.unique(conds_df['PATIENT']).size,
    np.unique(encouters_df['PATIENT']).size,
    np.unique(procedures_df['PATIENT']).size,
)

(1174, 1140, 1174, 1170)

In [16]:
def join_with_comma(
    x
):
    return ','.join(str(y) for y in x)

grouped_proced_df = procedures_df.sort_values(by='START').groupby('PATIENT').aggregate(
    {
        'CODE': join_with_comma,
        'START': lambda x: np.diff(x.astype(np.datetime64)).mean(),
        'DESCRIPTION': join_with_comma,
        'REASONCODE': join_with_comma,
        'REASONDESCRIPTION': join_with_comma,
        'DEPRESSION_SCREENING': sum,
    }
)

/tmp/ipykernel_10262/376762981.py:9: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean(),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_10262/376762981.py:9: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean(),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_10262/376762981.py:9: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean(),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_10262/376762981.py:9: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean(),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_10262/376762981.py:9: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean(),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_10262/376762981.py:9: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean(),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_10262/376762981.py:9: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean(),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_10262/376762981.py:9: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean(),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_10262/376762981.py:9: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean(),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)

In [17]:
grouped_proced_df.head()

,CODE,START,DESCRIPTION,REASONCODE,REASONDESCRIPTION,DEPRESSION_SCREENING
PATIENT,,,,,,
0000c650-47ba-eaf7-c2e6-ee06774a3d95,"46706006,710824005,171207006,454711000124102,4...",120 days 14:50:20,Replacement of contraceptive intrauterine devi...,"nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...",8
009c30e1-5fa4-f50c-dfa5-bf3092116bbb,"710841007,171207006,715252007,428211000124100,...",45 days 07:12:00,"Assessment of anxiety (procedure),Depression s...","nan,nan,nan,nan,nan,160968000.0,nan,nan,nan,na...","nan,nan,nan,nan,nan,Risk activity involvement ...",18
00c2e638-e098-f9ff-3610-5af6f565616d,"430193006,430193006,430193006,171207006,715252...",104 days 08:17:11.062500,"Medication Reconciliation (procedure),Medicati...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...",10
00fe47e4-40df-207e-e357-789d2aca44c1,"710824005,171207006,454711000124102,4282110001...",53 days 20:32:36.903225806,Assessment of health and social care needs (pr...,"nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...","nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,na...",16
014e204c-bd87-a7fd-0ee5-86296391a44d,"710824005,710841007,762993000,866148006,171207...",3 days 14:49:22.594799566,Assessment of health and social care needs (pr...,"nan,nan,nan,nan,nan,nan,nan,nan,58150001.0,nan...","nan,nan,nan,nan,nan,nan,nan,nan,Fracture of cl...",20

In [28]:
def join_with_comma(
    x
):
    return ','.join(str(y) for y in x)

grouped_depressive_df = procedures_df[procedures_df['DEPRESSION_SCREENING']].sort_values(by='START').groupby('PATIENT').aggregate(
    {
        'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
        'DEPRESSION_SCREENING': 'sum',
    }
)
grouped_depressive_df.rename(columns={'START': 'INTERVAL'}, inplace=True)
grouped_depressive_df.to_sql('depressive', conn, if_exists='replace')
grouped_depressive_df.head()

/tmp/ipykernel_10262/309125977.py:8: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)

                                        INTERVAL  DEPRESSION_SCREENING
PATIENT
0000c650-47ba-eaf7-c2e6-ee06774a3d95  420.002045                     8
009c30e1-5fa4-f50c-dfa5-bf3092116bbb  174.590942                    18
00c2e638-e098-f9ff-3610-5af6f565616d  206.112213                    10
00fe47e4-40df-207e-e357-789d2aca44c1  222.600590                    16
014e204c-bd87-a7fd-0ee5-86296391a44d  175.734266                    20

In [29]:
patient_depressive = pd.read_sql(
    '''
    SELECT p.Id, p.birthdate, p.deathdate,d.interval, d.depression_screening
    FROM patients p
    JOIN depressive d on p.Id = d.patient;
    ''',
    conn
)
patient_depressive.head()

,Id,BIRTHDATE,DEATHDATE,INTERVAL,DEPRESSION_SCREENING
0,ff981e00-4004-44b4-48ba-0bfa62440bb3,2009-07-29,None,0.008819,2
1,648dbf91-4334-a7e2-2cfe-72e88dbd4c15,2000-12-04,None,151.775890,23
2,06a0234c-08a4-b77f-a6db-8b557fbe8510,1997-03-25,None,208.691630,17
3,0d679725-4ff2-9d28-e523-956496f182cb,1973-04-20,2005-08-19,309.275772,12
4,c87c02ef-6b7a-224c-4513-1b85e19573b9,1998-11-21,None,211.002321,15

In [30]:
patient_depressive.to_csv('../data/interim/depressive.csv', index=False)

In [31]:
patient_depressive.shape

(981, 5)