In [21]:
from sqlite3 import connect
import numpy as np
import pandas as pd
import os

In [22]:
os.getcwd()

'/home/felipe/Desktop/P2/notebooks'

In [23]:
conditions_path = '../data/raw/synthea/scenario1/conditions.csv'
encounters_path = '../data/raw/synthea/scenario1/encounters.csv'
patients_path = '../data/raw/synthea/scenario1/patients.csv'
procedures_path = '../data/raw/synthea/scenario1/procedures.csv'

In [24]:
conn = connect(':memory:')

In [25]:
conds_df = pd.read_csv(conditions_path)
conds_df.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2021-12-26,2022-01-07,c40c2c75-13c9-8e4a-047f-573ae1330157,862287d1-a2eb-8116-de42-e76de6163260,195662009,Acute viral pharyngitis (disorder)
1,1999-05-12,NaN,39e76039-522c-61f1-d961-e03dce5f0bb2,00681d7e-e9bb-392b-6ccb-209cf46e2ec3,128613002,Seizure disorder
2,1999-05-12,NaN,39e76039-522c-61f1-d961-e03dce5f0bb2,00681d7e-e9bb-392b-6ccb-209cf46e2ec3,703151001,History of single seizure (situation)
3,2003-03-04,2003-03-17,39e76039-522c-61f1-d961-e03dce5f0bb2,7ac71954-b14b-f259-f032-bc07d5f4eaa6,43878008,Streptococcal sore throat (disorder)
4,2003-07-17,NaN,39e76039-522c-61f1-d961-e03dce5f0bb2,705cabcc-6c94-1804-ee22-0e0b944ed62f,262574004,Bullet wound

In [26]:
conds_df[['CODE', 'DESCRIPTION']].value_counts().to_csv('../data/interim/scenario1/conditions_type_counts.csv')

In [27]:
encounters_df = pd.read_csv(encounters_path)
encounters_df.head()

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,38058d5e-b387-3bf4-7e8e-652963121539,2021-08-11T21:01:16Z,2021-08-11T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,5b73b984-a934-3cb2-b181-be8a4e7d6c49,74ae6031-4392-398b-b2ba-5661afd90b7d,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,410620009,Well child visit (procedure),136.8,347.38,0.0,NaN,NaN
1,7ce90b77-dcf4-7ef7-6f2e-222b8f8e53af,2021-09-15T21:01:16Z,2021-09-15T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,5b73b984-a934-3cb2-b181-be8a4e7d6c49,74ae6031-4392-398b-b2ba-5661afd90b7d,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,410620009,Well child visit (procedure),136.8,272.80,0.0,NaN,NaN
2,3e712884-0b4b-a72a-691b-d81127ed15f7,2021-11-17T21:01:16Z,2021-11-17T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,5b73b984-a934-3cb2-b181-be8a4e7d6c49,74ae6031-4392-398b-b2ba-5661afd90b7d,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,410620009,Well child visit (procedure),136.8,1400.05,0.0,NaN,NaN
3,ea214644-3c0a-a8fc-27de-ce4d61fb6707,2022-01-19T21:01:16Z,2022-01-19T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,5b73b984-a934-3cb2-b181-be8a4e7d6c49,74ae6031-4392-398b-b2ba-5661afd90b7d,047f6ec3-6215-35eb-9608-f9dda363a44c,wellness,410620009,Well child visit (procedure),136.8,1213.88,0.0,NaN,NaN
4,fc30a3b9-b200-6424-206b-9a6bca68c575,2022-04-20T21:01:16Z,2022-04-20T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,5b73b984-a934-3cb2-b181-be8a4e7d6c49,74ae6031-4392-398b-b2ba-5661afd90b7d,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,wellness,410620009,Well child visit (procedure),136.8,816.80,0.0,NaN,NaN

In [28]:
encounters_df[['DESCRIPTION', 'CODE']].value_counts().to_csv('../data/interim/scenario1/encounters_type_counts.csv')

In [29]:
encounters_df[['REASONDESCRIPTION', 'REASONCODE']].value_counts().to_csv('../data/interim/scenario1/encounters_reason_counts.csv')

In [30]:
procedures_df = pd.read_csv(procedures_path)
procedures_df['DEPRESSION_SCREENING'] = procedures_df['DESCRIPTION'].apply(lambda x: 'depression' in x.lower())
procedures_df.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION,DEPRESSION_SCREENING
0,2021-11-17T21:01:16Z,2021-11-17T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,3e712884-0b4b-a72a-691b-d81127ed15f7,430193006,Medication Reconciliation (procedure),583.25,NaN,NaN,False
1,2022-01-19T21:01:16Z,2022-01-19T21:16:16Z,7b3c738d-3f86-58e3-450e-4018521d192f,ea214644-3c0a-a8fc-27de-ce4d61fb6707,430193006,Medication Reconciliation (procedure),397.08,NaN,NaN,False
2,2020-08-11T12:00:22Z,2020-08-11T12:15:22Z,c40c2c75-13c9-8e4a-047f-573ae1330157,1bc9dafd-1e4f-5cd9-986e-cdb8f2ea1e03,430193006,Medication Reconciliation (procedure),803.69,NaN,NaN,False
3,2020-11-10T12:00:22Z,2020-11-10T12:15:22Z,c40c2c75-13c9-8e4a-047f-573ae1330157,79f31761-2a1b-e35f-1233-12fb289bb056,430193006,Medication Reconciliation (procedure),387.76,NaN,NaN,False
4,2021-08-10T12:00:22Z,2021-08-10T12:15:22Z,c40c2c75-13c9-8e4a-047f-573ae1330157,01812b1c-1d69-c2ec-9b01-dd1da8be409a,430193006,Medication Reconciliation (procedure),589.38,NaN,NaN,False

In [31]:
procedures_df[['CODE','DESCRIPTION']].value_counts().to_csv('../data/interim/scenario1/procedures_type_counts.csv')

In [8]:
procedures_df[['CODE','DESCRIPTION']][procedures_df['DESCRIPTION'].apply(lambda x: 'depression' in x.lower())].value_counts()

CODE             DESCRIPTION
171207006        Depression screening (procedure)                                                       7534
454711000124102  Depression screening using Patient Health Questionnaire Two-Item score (procedure)     6745
715252007        Depression screening using Patient Health Questionnaire Nine Item score (procedure)    1226
171207006        Depression screening                                                                    424
dtype: int64

In [9]:
(procedures_df['CODE'] == 171207006).sum()

7958

In [10]:
procedures_df['DEPRESSION_SCREENING'].value_counts()

False    92277
True     15929
Name: DEPRESSION_SCREENING, dtype: int64

In [11]:
procedures_df[procedures_df['DEPRESSION_SCREENING']]['PATIENT'].unique().size

981

In [32]:
procedures_df['PATIENT'].unique().size

1170

In [12]:
patients_df = pd.read_csv(patients_path)
patients_df.to_sql('patients', conn, if_exists='replace')
patients_df.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,7b3c738d-3f86-58e3-450e-4018521d192f,2021-08-11,NaN,999-71-7790,NaN,NaN,NaN,Svetlana462,O'Hara248,NaN,...,Boston Massachusetts US,971 Ullrich Grove Suite 53,Boston,Massachusetts,Suffolk County,2135.0,42.304260,-71.045262,22950.9100,0.0000
1,c40c2c75-13c9-8e4a-047f-573ae1330157,2020-03-03,NaN,999-49-5505,NaN,NaN,NaN,Rosalyn434,Christiansen251,NaN,...,Lawrence Massachusetts US,485 Senger Route Apt 34,Waltham,Massachusetts,Middlesex County,2451.0,42.340439,-71.206815,54769.7275,2624.1225
2,39e76039-522c-61f1-d961-e03dce5f0bb2,1998-11-21,2003-07-17,999-36-5991,NaN,NaN,NaN,Lashawnda573,Daniel959,NaN,...,North Reading Massachusetts US,944 Witting Passage,Everett,Massachusetts,Middlesex County,2149.0,42.412900,-71.009282,139148.2750,932.7450
3,ff981e00-4004-44b4-48ba-0bfa62440bb3,2009-07-29,NaN,999-39-5303,NaN,NaN,NaN,Ulysses632,Rice937,NaN,...,Scituate Massachusetts US,414 Rempel Harbor,Cohasset,Massachusetts,Norfolk County,NaN,42.214770,-70.814553,339359.4700,90.6000
4,648dbf91-4334-a7e2-2cfe-72e88dbd4c15,2000-12-04,NaN,999-77-8366,S99996514,X32384432X,Mr.,Tory770,Harvey63,NaN,...,Boston Massachusetts US,368 Pouros Ramp Apt 46,Haverhill,Massachusetts,Essex County,1832.0,42.779225,-71.055842,543267.4075,2173.6425

In [14]:
# patient_cond_df = pd.read_sql(
#     '''
#     SELECT p.Id, p.birthdate, p.deathdate, c.description, c.code
#     FROM patients p
#     JOIN conditions c on p.Id = c.patient;
#     ''',
#     conn
# )
# patient_cond_df.to_sql('patientCondition', conn, if_exists='replace')
# patient_cond_df.head()

In [33]:
medications_df = pd.read_csv('../data/raw/synthea/scenario1/medications.csv')
medications_df.head()

,START,STOP,PATIENT,PAYER,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,1999-05-12T23:33:06Z,1999-08-19T23:33:06Z,39e76039-522c-61f1-d961-e03dce5f0bb2,4d71f845-a6a9-3c39-b242-14d25ef86a8d,00681d7e-e9bb-392b-6ccb-209cf46e2ec3,204892,clonazePAM 0.25 MG Oral Tablet,53.32,0.0,3,159.96,NaN,NaN
1,1999-10-30T21:12:49Z,2000-05-31T21:12:49Z,39e76039-522c-61f1-d961-e03dce5f0bb2,4d71f845-a6a9-3c39-b242-14d25ef86a8d,8d81e26c-6ee1-8d23-19bd-04d9079a034a,204892,clonazePAM 0.25 MG Oral Tablet,381.12,0.0,7,2667.84,NaN,NaN
2,2000-10-28T21:12:49Z,2001-03-24T21:12:49Z,39e76039-522c-61f1-d961-e03dce5f0bb2,047f6ec3-6215-35eb-9608-f9dda363a44c,5c9a09e3-dceb-71be-dcf6-052ba6ef242d,204892,clonazePAM 0.25 MG Oral Tablet,204.10,0.0,4,816.40,NaN,NaN
3,2001-04-28T21:12:49Z,2001-08-18T21:12:49Z,39e76039-522c-61f1-d961-e03dce5f0bb2,6e2f1a2d-27bd-3701-8d08-dae202c58632,8d2b5e0c-2c8f-f0e1-44db-3763bb52c711,197591,Diazepam 5 MG Oral Tablet,1222.27,784.4,3,3666.81,NaN,NaN
4,2001-10-27T21:12:49Z,2002-05-22T21:12:49Z,39e76039-522c-61f1-d961-e03dce5f0bb2,6e2f1a2d-27bd-3701-8d08-dae202c58632,df8d642b-197b-d720-6783-ed49712404d8,308971,Carbamazepine[Tegretol],44.95,0.0,6,269.70,NaN,NaN

In [34]:
medications_df[['CODE', 'DESCRIPTION']].value_counts().to_csv('../data/interim/scenario1/medications_type_counts.csv')

In [35]:
medications_df[['REASONCODE', 'REASONDESCRIPTION']].value_counts().to_csv('../data/interim/scenario1/medications_reason_counts.csv')

In [15]:
print(
    'patients', patients_df.shape,
    'conditions', conds_df.shape,
    'encounters', encounters_df.shape,
    'procedures', procedures_df.shape,
)

patients (1174, 25) conditions (36396, 6) encounters (59481, 15) procedures (108206, 10)

In [16]:
(
    np.unique(patients_df['Id']).size,
    np.unique(conds_df['PATIENT']).size,
    np.unique(encounters_df['PATIENT']).size,
    np.unique(procedures_df['PATIENT']).size,
)

(1174, 1140, 1174, 1170)

In [17]:
def join_with_comma(
    x
):
    return ','.join(str(y) for y in x)

In [18]:
grouped_proced_df = procedures_df.sort_values(by='START').groupby('PATIENT').aggregate(
    {
        'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
        'DEPRESSION_SCREENING': 'sum',
    }
)
grouped_proced_df.rename(columns={'START': 'INTERVAL'}, inplace=True)
grouped_proced_df.to_sql('procedures', conn, if_exists='replace')
grouped_proced_df.head()

/tmp/ipykernel_19874/4014127689.py:3: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_19874/4014127689.py:3: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_19874/4014127689.py:3: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_19874/4014127689.py:3: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_19874/4014127689.py:3: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_19874/4014127689.py:3: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_19874/4014127689.py:3: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_19874/4014127689.py:3: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)
/tmp/ipykernel_19874/4014127689.py:3: RuntimeWarning: Mean of empty slice.
  'START': lambda x: np.diff(x.astype(np.datetime64)).mean() / np.timedelta64(1, 'D'),
/home/felipe/anaconda3/envs/p2-datasci4h/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: divide by zero encountered in true_divide
  ret = ret.dtype.type(ret / rcount)

                                        INTERVAL  DEPRESSION_SCREENING
PATIENT
0000c650-47ba-eaf7-c2e6-ee06774a3d95  120.618287                     8
009c30e1-5fa4-f50c-dfa5-bf3092116bbb   45.300000                    18
00c2e638-e098-f9ff-3610-5af6f565616d  104.345267                    10
00fe47e4-40df-207e-e357-789d2aca44c1   53.855983                    16
014e204c-bd87-a7fd-0ee5-86296391a44d    3.617623                    20

In [29]:
grouped_encount_df = encounters_df.sort_values(by='STOP').groupby('PATIENT').aggregate(
    {
        'START': 'last',
        'STOP': 'last',
        'CODE': 'last',
        'REASONCODE': 'last',
    }
)
grouped_encount_df['DURATION'] = (grouped_encount_df['STOP'].astype(np.datetime64) - grouped_encount_df['START'].astype(np.datetime64)) / np.timedelta64(1, 'D')
grouped_encount_df.to_sql('encounters', conn, if_exists='replace')
grouped_encount_df.head()

,START,STOP,CODE,REASONCODE,DURATION
PATIENT,,,,,
0000c650-47ba-eaf7-c2e6-ee06774a3d95,2021-09-16T16:13:53Z,2021-09-16T16:28:53Z,162673000,195662009.0,0.010417
009c30e1-5fa4-f50c-dfa5-bf3092116bbb,2022-03-30T08:22:48Z,2022-03-30T08:37:48Z,308335008,195662009.0,0.010417
00c2e638-e098-f9ff-3610-5af6f565616d,2022-01-09T17:11:39Z,2022-01-09T17:26:39Z,33879002,444814009.0,0.010417
00fe47e4-40df-207e-e357-789d2aca44c1,2021-09-03T09:38:33Z,2021-09-03T09:53:33Z,162673000,444814009.0,0.010417
014e204c-bd87-a7fd-0ee5-86296391a44d,2022-03-02T07:26:29Z,2022-03-02T07:41:29Z,162673000,55822004.0,0.010417

In [32]:
patient_depressive = pd.read_sql(
    '''
    SELECT p.Id, p.birthdate, p.deathdate, d.interval, d.depression_screening, e.code, e.reasoncode, e.stop, e.duration
    FROM patients p
    JOIN procedures d on p.Id = d.patient
    JOIN encounters e on p.Id = e.patient
    ''',
    conn
)
patient_depressive.rename(columns={
    'CODE': 'ENCOUNTER_CODE',
    'REASONCODE': 'ENCOUNTER_REASONCODE',
    'STOP': 'ENCOUNTER_STOP',
    'DURATION': 'ENCOUNTER_DURATION',
}, inplace=True)
patient_depressive.head()

,Id,BIRTHDATE,DEATHDATE,INTERVAL,DEPRESSION_SCREENING,ENCOUNTER_CODE,ENCOUNTER_REASONCODE,ENCOUNTER_STOP,ENCOUNTER_DURATION
0,0000c650-47ba-eaf7-c2e6-ee06774a3d95,1973-08-23,None,120.618287,8,162673000,195662009.0,2021-09-16T16:28:53Z,0.010417
1,009c30e1-5fa4-f50c-dfa5-bf3092116bbb,2001-07-04,None,45.300000,18,308335008,195662009.0,2022-03-30T08:37:48Z,0.010417
2,00c2e638-e098-f9ff-3610-5af6f565616d,2004-09-05,None,104.345267,10,33879002,444814009.0,2022-01-09T17:26:39Z,0.010417
3,00fe47e4-40df-207e-e357-789d2aca44c1,1960-07-01,None,53.855983,16,162673000,444814009.0,2021-09-03T09:53:33Z,0.010417
4,014e204c-bd87-a7fd-0ee5-86296391a44d,1917-09-05,None,3.617623,20,162673000,55822004.0,2022-03-02T07:41:29Z,0.010417

In [31]:
patient_depressive.max(axis=0)

/tmp/ipykernel_19874/2930605822.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  patient_depressive.max(axis=0)

Id                      ffb18140-91de-27cf-d030-e5e05b6ab528
BIRTHDATE                                         2022-04-22
INTERVAL                                              648.75
DEPRESSION_SCREENING                                     143
ENCOUNTER_CODE                               449411000124106
ENCOUNTER_REASONCODE                             840539006.0
ENCOUNTER_STOP                          2022-04-24T14:44:18Z
ENCOUNTER_DURATION                                 10.026123
dtype: object

In [33]:
patient_depressive.to_csv('../data/interim/depressive.csv', index=False)

In [ ]:
patient_depressive.shape

(981, 5)